---
name: Task - Build Docker Image

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build_containers:
    strategy:
      matrix:
        package:
          [pragma-sdk, price-pusher, vrf-listener, checkpointer]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.10.0
      - name: Build Docker Image
        id: docker_build
        uses: docker/build-push-action@v4.2.1
        with:
          context: .
          file: ./${{ matrix.package }}/Dockerfile
