---
name: Task - Publish Package to Pypi

on:
  workflow_call:

defaults:
  run:
    working-directory: pragma-sdk

jobs:
  release:
    name: Pypi Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: check GITHUB_REF matches package version
        uses: samuelcolvin/check-python-version@v4.1
        with:
          version_file_path: pragma_sdk/__init__.py

      - run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_KEY }}
          skip-existing: true
